body{
	background-color:lightgray;
}

.free{
	fill:white;
}

.selected{
	fill:green;
}

.vip{
	fill:#509cff;
}

.vipselected{
	fill:green;
}

.unavailable{
	fill:darkred;
}

.error{
	fill:violet;
}

.title-shadow{
	text-shadow: 0px 0px 4px black;
}

.container .section {
	padding: 30px;
}

.text-center{
	text-align: center;
}

.room{
	border-radius:4px;
	border: 3px solid;
	overflow: hidden;
	background: gray;
}
.movie-image{
	height:calc(12em + 54px) !important;
	max-height:calc(12em + 54px) !important;
}
.movie-text{
	min-height: 12em;
	height: 12em;
	max-height:12em;
	overflow: hidden ;
}


.card{
	transition: transform 0.5s !important;
	transform: scale(1);
}
.card:hover{
	transform: scale(1.1);
}

.movie-text h4{
	font-size:2em;
	line-height:1.1em;
	margin:0.05em;
}
.movie-text p{
	font-size:1.2em;
	line-height:1em;
}

.img-width-adjust{
	width:100%;
	max-width: 100%;
}